table input, table select {
    padding: 0 !important;
    text-align: center;
}

.btn-margin {
    margin: 15px 0;
}

table th {
    background-color: #EEE;
}

table td, table th {
    vertical-align: middle !important;
    text-align: center;
}

.input-group-btn select {
    border-color: #ccc;
    margin-bottom: 0px;
    padding: 7px 7px 5px !important;
}
